.sidebar {
  width: 300px;
  background: var(--color-gray-3);
  overflow-y: auto;
  transform: translate3d(-300px, 0, 0);
  transition: transform ease-in-out .3s,
              flex ease-in-out .3s;
  flex: 0;

  &--open {
    transform: translate3d(0, 0, 0);
    flex: 0 0 300px;
  }
}