.wrapper {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header {
  margin-bottom: var(--offset-medium);


  &__title {
    font-size: var(--font-size-xlarge);
  }

  &__button {
    text-decoration: none;
    padding: var(--offset-small);
    background: var(--color-primary);
    color: var(--color-white);
    font-size: var(--font-size-medium);

    &:hover {
      background: var(--color-primary-alt);
      cursor: pointer;
    }
  }
}

.events {
  list-style-type: none;
  max-width: 960px;
  margin: 0 auto;

  li:not(:last-of-type) {
    margin-bottom: var(--offset-medium);
  }
}

.action {
  border: 0;
  outline: 0;
  background: var(--color-white);
  padding: var(--offset-small);
  border: 1px solid var(--color-gray-3);

  &:hover {
    cursor: pointer;
    background: var(--color-gray-0);
  }
}