.navbar {
  grid-area: navbar;
  background: var(--color-gray-1);
  display: flex;
  padding: 0 var(--offset-medium);
  border-bottom: 1px solid var(--color-gray-3);
}

.toggler {
  border: 0;
  outline: 0;
  font-size: 24px;
  align-self: center;
  background: transparent;

  &:hover {
    cursor: pointer;
  }
}