.container {
  max-width: 960px;
  margin: 0 auto;
}

.heading {
  margin-bottom: var(--offset-medium);
}

.events {
  list-style-type: none;

  li:not(:last-of-type) {
    margin-bottom: var(--offset-medium);
  }
}