.event {
  box-shadow: 0 0 5px var(--color-gray-4);

  &--finished {
    position: relative;
    box-shadow: 0 0 3px var(--color-gray-4);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      background: var(--color-gray-3);
      opacity: 0.2;

      pointer-events: none;
    }
  }
}